body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 65px;
  background-color: white;
  z-index: 1;
  box-sizing: border-box;
}

main {
  margin-top: 65px;
}

.left-header,
.right-header {
  display: flex;
  align-items: center;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu {
  background-color: white;
  font-weight: bolder;
  width: 60%;
  height: 100%;
  padding: 20px;
}

header nav ul {
  padding-left: 0;
}

header nav ul li {
  padding-top: 20px;
  list-style: none;
  font-size: 20px;
}

header img {
  padding: 10px;
  height: 25px;
}

.close-icon {
  height: 15px;
  padding: 0px;
}

.cart-container {
  position: relative;
}

.cart-quantity {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: hsl(26, 100%, 55%);
  color: white;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
}

.current-image {
  width: 100%;
}

.arrow {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
}

.left {
  left: 10px;
  transform: rotate(180deg);
}

.right {
  right: 10px;
}

.about-container {
  padding: 20px;
}

h2 {
  color: hsl(26, 100%, 55%);
  font-size: 16px;
}

h3 {
  font-size: 36px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.total-discount {
  display: flex;
  align-items: center;
}

.total {
  font-size: 32px;
  font-weight: bolder;
  margin-right: 20px;
}

.discount {
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 5px;
  border-radius: 5px;
  font-size: 22px;
}

.original {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-size: 22px;
}

.quantity-container {
  background-color: hsl(223, 64%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
}

.large-button {
  background-color: hsl(26, 100%, 55%);
  width: 100%;
  border: none;
  padding: 20px;
  color: white;
  font-size: 22px;
  margin-top: 20px;
  border-radius: 5px;
}

.cart-popup {
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  top: 100px;
  padding: 20px;
}

.cart-paragraph {
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: 0.5px solid lightgrey;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: hsl(220, 14%, 75%);
}

.cart-image {
  height: 50px;
  border-radius: 8px;
}
.second-span {
  font-weight: bold;
  color: black;
}

.hide {
  display: none;
}
